html {
  background-color: #fee;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  margin: 0;
}

main {
  background-color: #fcc;
  flex: 1;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0 1vw;
}

#control-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fbb;
}

.control-flex {
  flex: 1;
  min-height: 1px;
}

.button {
  background-color: #faa;
}

#container {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 1vw;
}

#sketch {
  aspect-ratio: 1;
  background-color: #eee;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row {
  flex: 1 1 0;
  min-height: 1px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.square {
  flex: 1 1 0;
  min-height: 1px;
  height: 100%;
  background-color: white;
  border: 1px solid #aaa;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h5 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 1vw;
}
