html {
  background-color: #fee;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 1vw;
}

#controls {
  background-color: #fcc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: #fcc;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 1vw;
}

#sketch {
  width: auto;
  height: 100%;
  background-color: #eee;
  flex: 1;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
